@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";



/* 

####################################################### 
################# Start of my CSS #####################
####################################################### 

*/



$mainFont: 'Spinnaker', sans-serif;
$mainFontPadding:15px;
$mainFontSize: 14px;
$impactFont: 'Covered By Your Grace', serif;
$headingFont: 'PT Serif', serif;


html { /* initial grid system: line-height:18 font-size: 14 */
  font-family: $mainFont;
  padding: $mainFontPadding; 
  font-size: $mainFontSize;
}


#page{
  width:100%;
}

#content{  
  margin: 0px auto;
}

#header{
  text-align:center;
}


img {max-width:100%;}

a {
 text-decoration:none;
 outline:none;
}

.accessibility{
	display:none;
}

.clear {
 clear:both;
}

