@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";



/* 

####################################################### 
################# Start of my CSS #####################
####################################################### 

*/


#page{
  width:100%;
}

#content{  
  margin: 0px auto;
}

#header{
  text-align:center;
}


img {max-width:100%;}

a {
 text-decoration:none;
 outline:none;
}

.accessibility, .hideForm{
	display:none;
}

.clear {
 clear:both;
}


