/* Basic Media Query for Screens wider than 600 pixels (tablets and up) */

@media screen and (min-width: 400px) {

	#page, #homePage, #ContactForm, .col {
	width: 400px;
  margin: 0 auto;
 	text-align: left;
	}


}



