/* Basic Media Query for Screens wider than 600 pixels (tablets and up) */

@media screen and (min-width: 400px) {

	#page, #homePage {
	width: 400px;
  margin-left: auto;
	margin-right: auto;
	text-align: left;
	}


}



