#header h1, h3{
  font-family: $impactFont;
}

#header h1 {
  font-size:42px;
  line-height:38px;
  padding: 10px;
}

#header p{
  font-size: 12px;
	  margin: 0 0 20px 0;
}

h2 {
 font-family: $mainFont;
 font-size: 18pt;
 font-weight:bold;
 margin: 20px 0 20px 0;
}


.subheading, .gallery h2 {
  font-family: $mainFont;
  font-size: $mainFontSize;
  margin: 3px 0 0 10px;
}


div > h3 { /* spacing for mobile*/
  padding: 20px 0;
}


#photo h3 {
  font-size:32px;
  line-height:28px;
}


h4 {
 font-size: 18px;
 margin: 25px 0 10px 0;
}

h5{
 font-weight:bold;
 margin:5px 0;
}

p {
	margin: 5px 0 10px 0;
}


.headingblock{
 display:block;
 float:left; /* to be able to nudge subheadings into place */
 cursor:pointer;
}


.showtitle {
 font-size: 12px;
 margin: 15px 0 10px 0;
}

.showtitle strong, .gallery h1, .gallery h2 strong{
  font-family:$headingFont;
  font-size:16px;
  margin: 0 5px 0 0;
  font-style:italic;
  font-weight:bold;

}

.hideMobile{
  display:none;
}

