#header, #footer, #homePage h2, .navContainer {
  text-align:center;
  padding: 5px 0;
  margin-bottom: 10px;
  @include border-radius(20px); 
  @include box-shadow;  
  @include linear-gradient(color-stops($greyBlue, $darkBlue), top); 

}



.showtitle strong, .gallery h1, .gallery h2 strong{
  font-family:$headingFont;
  font-size: $base-font-size + 4px;
  margin: 0 5px 0 0;
  font-style:italic;

}


#header h1, #homePage h3{
  font-family: $impactFont;
}


#header p, #footer {
  color: $greyGreen;
}

#homePage h2 {
  color: $paleGreen;
}

#header h1 {
  font-size: $base-font-size + 28px;
  line-height: $base-line-height + 12px;
  padding: 10px;
}

#header a, #homePage h3, #homePage h3 a {
    color: $yellow;
}

#homePage h3 .subheading, #homePage h3 .subheading a {
   color: $greyBlue;
}


#header p{
 font-size: $base-font-size - 4px;
 margin: 0 0 10px 0;
}

#footer {
  margin: 35px 0 0 0;
}

h2 {
  font-family: $mainFont;
  font-size: $base-font-size + 8px;
  font-weight: bold;
  margin: 30px 0 20px 0;
}


#library .subheading {
 margin: 0 10px 0 0;
}


h3 {
	font-family: $headingFont;
  font-size: $base-font-size + 4px;
  line-height: $base-line-height + 4px;
	font-style: italic;
}

#homePage h3 {
  clear: both;
  padding: 10px 0;
  cursor: pointer;
  margin: 10px 0;
	font-style:normal;
}

.headingblock{
 display:block;
 float:left; /* to be able to nudge subheadings into place */
 cursor:pointer;
 font-family: $impactFont;
 font-size: $base-font-size + 14px;
}

.subheading {
  font-family: $mainFont;
  font-size: $base-font-size;
  margin: 3px 0 0 10px;
} 

#homePage h4 {
  font-size: 18px;
  margin: 20px 0 10px 0;
}

#photo h4:first-child {
  margin-top:40px;
}

h5{
 font-weight:bold;
 margin:5px 0;
}

p {
	margin: 10px 0 10px 0;
}

 li p {
  margin: 40px 0 10px 0;
}

.gallery p strong {
  font-family: $headingFont;
	font-style:italic;
	font-weight: bold;
}

#contactLib p {
  margin-top: 20px;
}

.navContainer {
  width:98%;
  padding: 5px;
  margin: 0 auto;
  text-align: left;
  position: relative;

}

.navContainer p {
  display: inline;
  position: relative;
  line-height: 26px;
  margin: 0 auto;

}

.navContainer p a {
  padding: 15px;
}

.gallery img {
  margin: 10px 0;
}

.showtitle {
 font-size: $base-font-size - 4px;
 margin: 15px 0 10px 0;
}

.hideMobile{
  display:none;
}
