@import "_base.scss";


$mainFont: 'Spinnaker', 'Century Gothic', 'Tahoma', 'Verdana', sans-serif;
$mainFontPadding:15px;
$mainFontSize: 14px;

$impactFont: 'Covered By Your Grace', 'Impact', 'Copperplate Gothic Light', serif;
$headingFont: 'PT Serif', 'Palatino Linotype', 'Georgia', serif;


html { /* initial grid system: line-height:18 font-size: 14 */
  font-family: $mainFont;
  padding: $mainFontPadding; 
  font-size: $mainFontSize;
}



/* 

###############  Start of Mobile CSS ################## 

*/
@import "_mobile.scss";

/* 

###############  Start of Minimum 400px ################## 

*/
@import "_min400.scss";


