/* Basic Media Query for Screens wider than 1000 pixels */

*{margin: 0; padding: 0;}

.t22 {
  line-height: 22px;
  font-size: 14px;
  background-image: url('img/22px-baseline.png');
}

body { /*  .t22 from above  */
  line-height: 22px;
  font-size: 14px;	
}	
  .g960 #page {
    width: 940px; /*Total width works out to 960*/
    padding: 0px 10px 0px 10px;
    background-image: url('img/960px-10-60-10-unit.png');
  }
  /* See http://978.gs/ */
  .g978 .page {
    /* width: 978px; Total with works out to 1008*/
		width: 978px;
    padding: 0px 15px 0px 15px;
    background-image: url('img/978px-15-54-15-unit.png');
    margin: 0 auto;
  }

#header {
  background-color:rgb(0,255,255); opacity: 0.4;
	width: 100%;
	float:left;
	margin: 0 0 22px 0;
	padding: 20px 0;
}

#header h1 {
  display:block;
	font-size: 72px;
	float:left;
  margin: 0 0 0 124px;
}

#header p {
	display:block;
  font-size: 14px;
	float:left;
	margin: 22px 0 0 25px;
}


.page #nav {
width:138px;
float:left;
background-color:yellow;
left:0;
right:0;
}

.page #content {
	width:810px;
	clear:none;
	float:left;
  background-color:rgb(255,0,255); opacity: 0.3;
	padding: 22px 0 44px 30px;
}



p {
  line-height: 22px;
  font-size: 14px;
	margin: 0;
	padding:0;
}



#homePage img{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#photo, #library {
	padding: 10px;
}

/*  Use Golden Ratio for photo/lib widths: 1.618  */
#homePage #photo {
	width: 640px; /* 1010 / 1.618  */
	float: right;
  background-color:rgb(255,0,0); opacity: 0.4;
}

#homePage #library {
  width: 276px;
  background-color:rgb(255,0,255); opacity: 0.4;
	float:left;
}

#libNav {
	float:left; /* Need otherwise h3 get pushed to bottom*/
	margin: 4px 0 0 0;
}

#homePage #photo h2, #homePage #library h2 {
  text-align:left;
  margin: 0 0 16px 0;
	padding:0;
}

#homePage #library h2 {
	text-align:right;
}


.hideMobile{
	display: block;
}

.hideDesktop {
	display:none;
}


/* VERTICAL NAV*/

		
#art h2 + img {
  float:left;
	margin: 0 20px 0 0;
}

h2, h3 {
  clear:both;
}
.page h2 {
	font-size: 24px;
	clear:both;
	margin: -2px 0 22px 0;
}

.gallery ul + h2 {
	margin: 100px 0 22px 0;
 background-color:red;
}

.gallery h3 {
  margin: 18px 0 0 0;
}

.gallery ul + h3 {
  margin: 282px 0 0 0;
}

.gallery h3 + h4 {
  margin: -2px 0 0 0;
}

.gallery ul {
  margin: 34px 0 0 0;
}

.gallery h3 + ul {
  margin: 32px 0 0 0;
}

.gallery #content ul li, #content ul.gallery li {
  width: 214px; /* 306 width with 4px border on each side*/
	float:left;
	margin: 0 38px 0 0;
}

.gallery #content ul li:nth-child(3n+3), , #content ul.gallery li:nth-child(3n+3)  {
  margin-right:0;
	margin-bottom:88px;
}

#travel ul li:nth-child(3n+3) {
  margin-bottom: 30px;
}


.page #content ul li img + p {
  margin: -10px 0 0 0;
	line-height: 16px;
}


#content p:first-child {
  margin: 0 0 44px 0;
}

#portfolio strong, #resume strong {
  border: 1px solid black;
}


#portfolio ul + h2{
   margin: 44px 0 0 0;
}

#portfolio #content ul li ul.columnBlock li {
  width: 222px;
	float:left;
	margin: 22px 30px 44px 0;
}

#portfolio #content ul li ul.columnBlock li:nth-child(3n+3) {
  margin-right:0;
}

#resume #content h2 + ul li{
  margin: 0 0 0 16px;
}

.columnBlock + h2 {
  margin: 22px 0 22px 0;
}
#resume  h3 {
  margin: 0 0 0 0;
	line-height:22px;
}

#resume h3 + p {
  margin: 0px 0 0 0;
}

#resume h4 {
  margin: 22px 0 22px 0;
	clear:both;
}

#resume #content .columnBlock h4 + ul + li{
  background-color:red;
}


#resume #content ul.columnBlock  li {
  width:306px;
	float:left;
	margin:0 114px 22px 16px;
}

#resume #content ul.columnBlock  li:nth-child(2n+2){
  margin-right:0;
}


#theLab #content{
  width: 612px;
	margin: 0 0 0 30px;
}

/*      background-color:red;       */
#nav {
	width: 138px;
}
#nav ul {
}

#nav ul li, #nav ul li a {
  font-size: 16px;
	line-height: 22px;
	text-align:right;
 background-color:red;
 border: 1px solid black;
padding: 0;
margin: 0;
}

#nav ul li ul li a {
 background-color:green;
 border: none;
padding: 0;
margin: 0;
}
