/* Basic Media Query for Screens wider than 1000 pixels */

*{margin: 0; padding: 0;}

.t22 {
  line-height: 22px;
  font-size: 14px;
  background-image: url('img/22px-baseline.png');
}

body { /*  .t22 from above  */
  line-height: 22px;
  font-size: 14px;	
}	
  .g960 #page {
    width: 940px; /*Total width works out to 960*/
    padding: 0px 10px 0px 10px;
    background-image: url('img/960px-10-60-10-unit.png');
  }
  /* See http://978.gs/ */
  .g978 .page {
    /* width: 978px; Total with works out to 1008*/
		width: 978px;
    padding: 0px 15px 0px 15px;
    background-image: url('img/978px-15-54-15-unit.png');
    margin: 0 auto;
  }

#header {
  background-color:rgb(0,255,255); opacity: 0.4;
	width: 100%;
	float:left;
	margin: 0 0 22px 0;
	padding: 20px 0;
}

#header h1 {
  display:block;
	font-size: 70px;
	float:left;
  margin: 0 0 0 124px;
}

#header p {
	display:block;
  font-size: 14px;
	float:right;
	margin: 22px 70px 0 0;
}

#footer p {
  margin: 0 70px 0 0;
	text-align:right;
}

p {
  line-height: 22px;
  font-size: 14px;
	margin: 0;
	padding:0;
}



#homePage img{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}



/*  Use Golden Ratio for photo/lib widths: 1.618  */
#homePage #photo {
	width: 642px; /* 1010 / 1.618  */
	float: right;
  background-color:rgb(255,0,0); opacity: 0.8;
	padding: 22px 0px 22px 0px;
}
#homePage #content {
  padding:0;
}
#homePage #library {
  width: 276px;
  background-color:white; opacity: 0.8;
	float:left;
	margin:0 30px 0 0;
	padding: 22px 15px 22px 15px;
}

#homePage #libNav h3 .subheading {
  margin-right:4px;
}

#homePage #photo h2, #homePage #library h2 {
  text-align:left;
  margin:0 0 22px 0;
	padding:0;
}

#homePage #library h2 {
	text-align:right;
}

#homePage #photo h2 + img + p {
  margin: 44px 0 0 252px;
}

#homePage h2 + img  {
  height: 198px;
  margin: 0 0 22px 0;
}
#homePage #library h2 + img + p {
  clear:both;
  margin: 0 0 44px 0;
}



#homePage h3 .headingblock{
 margin: -10px 0 22px 0;
 padding:0;
 line-height:22px;
}


#homePage h3 .subheading{
  margin: -10px 0 22px 4px;
}


.page #content {
	width:810px;
	clear:none;
	float:left;
  background-color:rgb(255,0,255); opacity: 0.3;
	padding: 22px 0 44px 30px;
}

#homePage #content {
	width:978px;
}


#homePage .homeNav h4 a, #photo h4:first-child {
	margin: 0 0 22px 10px;
}

#galleries h4:last-child {
	margin-bottom: 20px;
}

#about p:last-child {
	margin-bottom: 22px;
}

#homePage .homeNav p {
  margin-left:10px;
}

.homeNav p.showtitle, .homeNav p strong {
  color:yellow;
	padding:0;
	padding-top:-2px;
	line-height:22px;
	
}

.homeNav p.showtitle + p{
  margin-bottom: 22px;
}

#contact h4 + p + p {
  margin-top:22px;
}

#homePage .homeNav h4 a .subheading{
  font-weight:normal;
	margin: 0 0 0 2px;
	color:yellow;
}

#homePage .homeNav h5 + img + p {
	padding:0;
	margin:22px 0 0 10px;
}



#homePage ul.border {
  margin: 0 0 0 0;
}

#homePage ul#border li {
  width: 138px; /* 306 width with 4px border on each side*/
	float:left;
	border:none;
	margin: 44px 30px  0 0;
	padding:0;
}

#homePage ul#border li:last-child {
  margin: 44px 0 0 0;
}

#homePage ul#border li img {
  border:none;
	margin:0;
	padding:0;
}

.hideMobile{
	display: block;
}

.hideDesktop {
	display:none;
}


	
#art h2 + img {
  float:left;
	margin: 0 20px 0 0;
}

h2, h3 {
  clear:both;
}
.page h2 {
	font-size: 24px;
	clear:both;
	margin: -2px 0 22px 0;
}

.gallery ul + h2 {
	margin: 100px 0 22px 0;
 background-color:red;
}

.gallery h3 {
  margin: 18px 0 0 0;
}

.gallery ul + h3 {
  margin: 282px 0 0 0;
}

.gallery h3 + h4 {
  margin: -2px 0 0 0;
}

.gallery #content ul {
  margin: 34px 0 0 0;
}

.gallery #content h3 + ul {
  margin: 32px 0 0 0;
}

.gallery #content ul li, #content ul.gallery li {
  width: 214px; /* 306 width with 4px border on each side*/
	float:left;
	margin: 0 38px 0 0;
}

.gallery #content ul li:nth-child(3n+3), , #content ul.gallery li:nth-child(3n+3)  {
  margin-right:0;
	margin-bottom:88px;
}

#travel ul li:nth-child(3n+3) {
  margin-bottom: 30px;
}


.page #content ul li img + p {
  margin: -10px 0 0 0;
	line-height: 16px;
}


#content p:first-child {
  margin: 0 0 44px 0;
}

#portfolio strong, #resume strong {
  border: 1px solid black;
}


#portfolio ul + h2{
   margin: 44px 0 0 0;
}

#portfolio #content ul li ul.columnBlock li {
  width: 222px;
	float:left;
	margin: 22px 30px 44px 0;
}

#portfolio #content ul li ul.columnBlock li:nth-child(3n+3) {
  margin-right:0;
}

#resume #content h2 + ul li{
  margin: 0 0 0 16px;
}

.columnBlock + h2 {
  margin: 22px 0 22px 0;
}
#resume  h3 {
  margin: 0 0 0 0;
	line-height:22px;
}

#resume h3 + p {
  margin: 0px 0 0 0;
}

#resume h4 {
  margin: 22px 0 22px 0;
	clear:both;
}

#resume #content .columnBlock h4 + ul + li{
  background-color:red;
}


#resume #content ul.columnBlock  li {
  width:306px;
	float:left;
	margin:0 114px 22px 16px;
}

#resume #content ul.columnBlock  li:nth-child(2n+2){
  margin-right:0;
}


#theLab #content{
  width: 612px;
	margin: 0 0 0 30px;
}

.page #nav {
	float:left;
	left:0;
	right:0;
	top:0;
	width: 138px;
	clear:none;
	position:relative;
	text-align:left;
}

/*      background-color:red;       */

#nav a{
  padding: 0 5px 0 0px;
	text-align:left;
}


#nav ul li.mainNav, #nav ul li.mainNav a{
	text-align:left;
/* 	margin: 0 0 22px 0;   figure this out later*/
}
#nav ul.subNav li, #nav ul.subNav li a {
  margin: 0 0 0 10px;
	color:red;
	text-align:left;
} 

