/* line 17, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 

####################################################### 
################# Start of my CSS #####################
####################################################### 

*/
/* line 16, ../sass/_base.scss */
#page {
  width: 100%;
}

/* line 20, ../sass/_base.scss */
#content {
  margin: 0px auto;
}

/* line 25, ../sass/_base.scss */
img {
  max-width: 100%;
}

/* line 27, ../sass/_base.scss */
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

/* line 33, ../sass/_base.scss */
.accessibility, .hideForm {
  display: none;
}

/* line 37, ../sass/_base.scss */
.clear {
  clear: both;
}

/* line 41, ../sass/_base.scss */
.hidden {
  display: none;
}

/* Seeking Nature */
/* Gallery Window*/
/* Tumble */
/* original: #665B4B; */
/* line 44, ../sass/screen.scss */
html {
  /* initial grid system: line-height:18 font-size: 14 */
  font-family: "Spinnaker", "Century Gothic", "Tahoma", "Verdana", sans-serif;
  padding: 15px;
  font-size: 16px;
  background-color: #1a2530;
  color: #bdbf6f;
}

/* line 55, ../sass/screen.scss */
.page, #header, #library, #photo, #homePage img {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

/* ###############  Start of Mobile CSS ################## */
/* MAIN DIV ELEMENTS */
/* line 3, ../sass/_mobile.scss */
html, body {
  background-color: #1a2530;
}

/* line 8, ../sass/_mobile.scss */
.page {
  /*  background-color:$background1; */
  padding: 10px;
}

/* line 13, ../sass/_mobile.scss */
#homePage h2, #footer {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/* line 17, ../sass/_mobile.scss */
h4 a, strong, p a, #nav a {
  color: #bdbf6f;
  font-weight: normal;
}

/* line 21, ../sass/_mobile.scss */
h4, h5 {
  color: #6f8556;
}

/* line 25, ../sass/_mobile.scss */
h3 {
  color: #4a4457;
}

/* line 28, ../sass/_mobile.scss */
#homePage h3, #homePage h3 a, h1 a {
  color: #6f8556;
}

/* line 32, ../sass/_mobile.scss */
a, p, li {
  color: #706553;
}

/* line 36, ../sass/_mobile.scss */
#header p, #footer p {
  color: #1a2530;
}

/* line 40, ../sass/_mobile.scss */
#header, #footer, #homePage h2, .navContainer {
  text-align: center;
  padding: 5px 0;
  margin-bottom: 10px;
  background-color: #4a4457;
}

/* line 48, ../sass/_mobile.scss */
#header h1, #homePage h3 {
  font-family: "Covered By Your Grace", "Impact", "Copperplate Gothic Light", serif;
}

/* line 52, ../sass/_mobile.scss */
#header p, #footer {
  /* color: $greyGreen; */
  font-size: 11px;
}

/* line 59, ../sass/_mobile.scss */
#header h1 {
  font-size: 42px;
  line-height: 34px;
  padding: 10px;
}

/* line 65, ../sass/_mobile.scss */
#header a, #homePage h3, #homePage h3 a {
  /*    color: $darkBlue; */
}

/* line 69, ../sass/_mobile.scss */
#homePage h3 .subheading, #homePage h3 .subheading a {
  /*   color: $greyBlue; */
}

/* line 74, ../sass/_mobile.scss */
#header p {
  margin: 0;
}

/* line 78, ../sass/_mobile.scss */
#footer {
  margin: 35px 0 0 0;
}

/* line 83, ../sass/_mobile.scss */
#footer p {
  margin: 5px;
}

/* MAIN HTML ELEMENTS */
/* line 89, ../sass/_mobile.scss */
h2 {
  font-family: "Spinnaker", "Century Gothic", "Tahoma", "Verdana", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0 20px 0;
}

/* line 97, ../sass/_mobile.scss */
h3 {
  font-family: "PT Serif", "Palatino Linotype", "Georgia", serif;
  font-size: 20px;
  line-height: 26px;
  font-style: italic;
}

/* line 104, ../sass/_mobile.scss */
h5 {
  font-weight: bold;
  margin: 5px 0;
}

/* line 109, ../sass/_mobile.scss */
p {
  margin: 10px 0 10px 0;
}

/* line 113, ../sass/_mobile.scss */
li p {
  margin: 40px 0 10px 0;
}

/* line 117, ../sass/_mobile.scss */
.gallery li p {
  margin: 0;
}

/* SPECIAL HANDLERS */
/* HOME PAGE */
/* line 125, ../sass/_mobile.scss */
#homePage #photo h2 {
  margin: 0;
}

/* line 130, ../sass/_mobile.scss */
#homePage #library h2 {
  /*  color: $paleGreen; */
  margin: 50px 0 0 0;
}

/* line 135, ../sass/_mobile.scss */
#homePage h3 {
  clear: both;
  padding: 10px 0;
  cursor: pointer;
  margin: 10px 0;
  font-style: normal;
}

/* line 143, ../sass/_mobile.scss */
.headingblock {
  display: block;
  float: left;
  /* to be able to nudge subheadings into place */
  cursor: pointer;
  font-family: "Covered By Your Grace", "Impact", "Copperplate Gothic Light", serif;
  font-size: 30px;
}

/* line 151, ../sass/_mobile.scss */
.subheading {
  font-family: "Spinnaker", "Century Gothic", "Tahoma", "Verdana", sans-serif;
  font-size: 16px;
  margin: 3px 0 0 10px;
}

/* line 158, ../sass/_mobile.scss */
#library .headingblock {
  margin: 0 0 0 10px;
}

/* line 163, ../sass/_mobile.scss */
#homePage h4, h5, p {
  margin: 20px 0 10px 10px;
}

/* line 167, ../sass/_mobile.scss */
#homePage h4 {
  font-size: 18px;
  font-weight: bold;
}

/* line 172, ../sass/_mobile.scss */
#homePage h5 {
  font-size: 16px;
  font-weight: bold;
}

/* PHOTO GALLERIES */
/* line 180, ../sass/_mobile.scss */
.showtitle strong, .gallery h2, .gallery h2 strong {
  font-family: "PT Serif", "Palatino Linotype", "Georgia", serif;
  font-size: 18px;
  margin: 0 5px 0 0;
  font-style: italic;
}

/* line 187, ../sass/_mobile.scss */
.gallery h2 {
  margin: 20px 5px 0 0;
}

/* line 191, ../sass/_mobile.scss */
#photo h4:first-child {
  margin-top: 40px;
}

/* line 195, ../sass/_mobile.scss */
.gallery p strong {
  font-family: "PT Serif", "Palatino Linotype", "Georgia", serif;
  font-style: italic;
  font-weight: bold;
}

/* line 201, ../sass/_mobile.scss */
.page #content ul li img {
  border: 4px solid black;
}

/* line 205, ../sass/_mobile.scss */
.gallery img {
  margin: 10px 0;
}

/* line 209, ../sass/_mobile.scss */
.gallery #content ul li p {
  margin-bottom: 20px;
}

/* line 213, ../sass/_mobile.scss */
.gallery #content h3, .gallery #content h3 strong {
  margin-top: 20px;
  color: #4a4457;
}

/* line 217, ../sass/_mobile.scss */
.showtitle {
  font-size: 12px;
}

/* RESUME */
/* line 223, ../sass/_mobile.scss */
#resume h4 {
  margin: 0 0 15px 0;
}

/* line 227, ../sass/_mobile.scss */
#resume #content ul li {
  list-style-type: disc;
  margin: 0 10px 10px 30px;
}

/* line 232, ../sass/_mobile.scss */
#resume p {
  margin: 5px 15px;
}

/* line 236, ../sass/_mobile.scss */
#resume h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 15px;
}

/* line 242, ../sass/_mobile.scss */
#resume strong {
  background-color: #6f8556;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  padding: 0 5px;
  color: #1a2530;
}

/* line 248, ../sass/_mobile.scss */
#resume strong a {
  color: #bdbf6f;
}

/* line 252, ../sass/_mobile.scss */
#portfolio #content h2 + ul li {
  margin-bottom: 20px;
  color: #6f8556;
}

/* line 257, ../sass/_mobile.scss */
#portfolio #content h2 + ul li ul li {
  margin-top: 20px;
  color: #706553;
}

/* line 262, ../sass/_mobile.scss */
#portfolio #content h2 + ul li ul li strong {
  color: #6f8556;
}

/* line 266, ../sass/_mobile.scss */
#portfolio #content h2 + ul li ul li a {
  color: #bdbf6f;
}

/* NAVIGATION  -- from http://www.visibilityinherit.com/code/center-nav.php 
                   with some tweaks
*/
/* line 186, ../sass/_mobile.scss */
/* line 276, ../sass/_mobile.scss */
#Xnav {
  /* IE6 needs this */
  position: relative;
  right: -5%;
  /* this gives better centering results, but check in IE*/
  margin: 0 0 100px 0;
  width: 100%;
  clear: both;
}

/* line 285, ../sass/_mobile.scss */
.page #nav {
  /* IE6 needs this */
  position: relative;
  right: -10%;
  /* this gives better centering results, but check in IE*/
  clear: both;
}

/* line 191, ../sass/_mobile.scss */
/* line 296, ../sass/_mobile.scss */
#nav ul {
  list-style: none;
}

/* line 202, ../sass/_mobile.scss */
/* line 196, ../sass/_mobile.scss */
/* line 302, ../sass/_mobile.scss */
#nav a {
  width: 80px;
  /* lines up better in mobile*/
  float: left;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  /* variable width */
}

/* MISC */
/* line 313, ../sass/_mobile.scss */
input, textarea {
  width: 200px;
}

/* line 316, ../sass/_mobile.scss */
.hideMobile {
  display: none;
}

/* line 320, ../sass/_mobile.scss */
#homePage img {
  margin: 4px;
}

/* line 324, ../sass/_mobile.scss */
.floatRight {
  float: right;
}

/* line 328, ../sass/_mobile.scss */
.floatLeft {
  float: left;
}

/* line 332, ../sass/_mobile.scss */
#content {
  clear: both;
  /* vertical display for mobile. float for desktop*/
}

/* ###############  Start of Narrow CSS (400px) ################## */
/* Basic Media Query for Screens wider than 600 pixels (tablets and up) */
@media screen and (min-width: 600px) {
  /* line 5, ../sass/_narrow.scss */
  .page {
    width: 600px;
    margin: 0 auto;
    text-align: left;
  }
}
/* ###############  Start of Standard CSS (1010px) ################## */
/* Basic Media Query for Screens wider than 1000 pixels */
@media screen and (min-width: 1010px) {
  /* line 5, ../sass/_standard.scss */
  * {
    margin: 0;
    padding: 0;
  }

  /* line 7, ../sass/_standard.scss */
  html, body {
    background-color: transparent;
  }

  /* line 11, ../sass/_standard.scss */
  .t22 {
    line-height: 22px;
    font-size: 14px;
    background-image: url("img/22px-baseline.png");
  }

  /* line 17, ../sass/_standard.scss */
  body {
    /*  .t22 from above  */
    line-height: 22px;
    font-size: 14px;
  }

  /* See http://978.gs/ */
  /* line 23, ../sass/_standard.scss */
  .g978 .page {
    /* width: 978px; Total with works out to 1008*/
    /*			width: 978px; */
    width: 90%;
    padding: 0px 15px 0px 15px;
    background-image: url("img/978px-15-54-15-unit.png");
    margin: 0 auto;
  }

  /* line 32, ../sass/_standard.scss */
  #header {
    background-color: aqua;
    opacity: 0.4;
    width: 100%;
    float: left;
    margin: 0 0 22px 0;
    padding: 20px 0;
  }

  /* line 40, ../sass/_standard.scss */
  #header h1 {
    display: block;
    font-size: 70px;
    float: left;
    margin: 0 0 0 124px;
  }

  /* line 47, ../sass/_standard.scss */
  #header p {
    display: block;
    font-size: 14px;
    float: right;
    margin: 22px 70px 0 0;
  }

  /* line 54, ../sass/_standard.scss */
  #footer p {
    margin: 0 70px 0 0;
    text-align: right;
  }

  /* line 59, ../sass/_standard.scss */
  p {
    line-height: 22px;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  /*  Use Golden Ratio for photo/lib widths: 1.618  */
  /* line 71, ../sass/_standard.scss */
  #homePage #photo {
    /*		width: 642px;  642 / 978 */
    width: 65.6441717791411%;
    float: right;
    background-color: red;
    opacity: 0.8;
    padding: 22px 0 54px 0px;
    /* pad to the same bottom as library*/
  }

  /* line 79, ../sass/_standard.scss */
  #homePage #content {
    padding: 0;
  }

  /* line 82, ../sass/_standard.scss */
  #homePage #library {
    /*		width: 276px;   276 / 978 */
    width: 28.22085889570552%;
    background-color: white;
    opacity: 0.8;
    float: left;
    /*		margin:0 30px 0 0;   30 / 978 */
    margin: 0 3.06748466257669% 0 0;
    /*		padding: 22px 15px 22px 15px; only need right/left in percentages  15 / 978 (doesn't ) */
    padding: 22px 01.53374233128834% 22px 01.53374233128834%;
  }

  /* line 93, ../sass/_standard.scss */
  #homePage #libNav h3 .subheading {
    margin-right: 4px;
  }

  /* line 97, ../sass/_standard.scss */
  #homePage #photo h2, #homePage #library h2 {
    text-align: left;
    margin: 0 0 22px 0;
    padding: 0;
  }

  /* line 103, ../sass/_standard.scss */
  #homePage #photo h2, #homePage #photo h2 + img, #homePage #photo #photoNav {
    /*padding-left: 15px;  15 / 642 need padding for left-flush photo elements except border pictures*/
    padding-left: 2.33644859813084%;
  }

  /* line 108, ../sass/_standard.scss */
  #homePage #library h2 {
    text-align: right;
  }

  /* line 112, ../sass/_standard.scss */
  #homePage #photo h2 + img + p {
    margin: 44px 0 0 252px;
  }

  /* line 116, ../sass/_standard.scss */
  #homePage h2 + img {
    height: 198px;
    margin: 0 0 22px 0;
  }

  /* line 120, ../sass/_standard.scss */
  #homePage #library h2 + img + p {
    clear: both;
    margin: 0 0 44px 0;
  }

  /* line 127, ../sass/_standard.scss */
  #homePage h3 .headingblock {
    margin: -10px 0 22px 0;
    padding: 0;
    line-height: 22px;
  }

  /* line 134, ../sass/_standard.scss */
  #homePage h3 .subheading {
    margin: -10px 0 22px 4px;
  }

  /* line 139, ../sass/_standard.scss */
  .page #content {
    /*		width:810px;  810 / 978*/
    width: 82.82208588957055%;
    clear: none;
    float: left;
    background-color: fuchsia;
    opacity: 0.3;
    /*		padding: 22px 0 44px 30px;   30 / 810 */
    /*    padding: 22px 0 44px 03.7037037037037%;   DO I EVEN NEED THIS?*/
  }

  /* line 149, ../sass/_standard.scss */
  #homePage #content {
    /*		width:978px; */
    width: 100%;
  }

  /* line 155, ../sass/_standard.scss */
  #homePage .homeNav h4 a, #photo h4:first-child {
    margin: 0 0 22px 10px;
  }

  /* line 159, ../sass/_standard.scss */
  #galleries h4:last-child {
    margin-bottom: 20px;
  }

  /* line 163, ../sass/_standard.scss */
  #about p:last-child {
    margin-bottom: 22px;
  }

  /* line 167, ../sass/_standard.scss */
  #homePage .homeNav p {
    margin-left: 10px;
  }

  /* line 171, ../sass/_standard.scss */
  .homeNav p.showtitle, .homeNav p strong {
    color: yellow;
    padding: 0;
    padding-top: -2px;
    line-height: 22px;
  }

  /* line 179, ../sass/_standard.scss */
  .homeNav p.showtitle + p {
    margin-bottom: 22px;
  }

  /* line 183, ../sass/_standard.scss */
  #contact h4 + p + p {
    margin-top: 22px;
  }

  /* line 187, ../sass/_standard.scss */
  #homePage .homeNav h4 a .subheading {
    font-weight: normal;
    margin: 0 0 0 2px;
    color: yellow;
  }

  /* line 193, ../sass/_standard.scss */
  #homePage .homeNav h5 + img + p {
    padding: 0;
    margin: 22px 0 0 10px;
  }

  /* line 199, ../sass/_standard.scss */
  #homePage ul#border li {
    width: 138px;
    /* 306 width with 4px border on each side*/
    float: left;
    border: none;
    margin: 44px 30px  0 0;
    padding: 0;
  }

  /* line 207, ../sass/_standard.scss */
  #homePage ul#border li:last-child {
    margin: 44px 0 0 0;
  }

  /* line 211, ../sass/_standard.scss */
  #homePage ul#border li img {
    border: none;
    margin: 0;
    padding: 0;
  }

  /* line 217, ../sass/_standard.scss */
  .hideMobile {
    display: block;
  }

  /* line 221, ../sass/_standard.scss */
  .hideDesktop {
    display: none;
  }

  /* line 227, ../sass/_standard.scss */
  #art h2 + img {
    float: left;
    margin: 0 20px 0 0;
  }

  /* line 232, ../sass/_standard.scss */
  h2, h3 {
    clear: both;
  }

  /* line 235, ../sass/_standard.scss */
  .page h2 {
    font-size: 24px;
    clear: both;
    margin: -2px 0 22px 0;
  }

  /* line 241, ../sass/_standard.scss */
  .gallery ul + h2 {
    margin: 100px 0 22px 0;
    background-color: red;
  }

  /* line 246, ../sass/_standard.scss */
  .gallery h3 {
    margin: 18px 0 0 0;
  }

  /* line 250, ../sass/_standard.scss */
  .gallery ul + h3 {
    margin: 282px 0 0 0;
  }

  /* line 254, ../sass/_standard.scss */
  .gallery h3 + h4 {
    margin: -2px 0 0 0;
  }

  /* line 258, ../sass/_standard.scss */
  .gallery #content ul {
    margin: 34px 0 0 0;
  }

  /* line 262, ../sass/_standard.scss */
  .gallery #content h3 + ul {
    margin: 32px 0 0 0;
  }

  /* line 266, ../sass/_standard.scss */
  .gallery #content ul li, #content ul.gallery li {
    width: 214px;
    /* 306 width with 4px border on each side*/
    float: left;
    margin: 0 38px 0 0;
  }

  /* line 272, ../sass/_standard.scss */
  .gallery #content ul li:nth-child(3n+3), #content ul.gallery li:nth-child(3n+3) {
    margin-right: 0;
    margin-bottom: 88px;
  }

  /* line 277, ../sass/_standard.scss */
  #travel ul li:nth-child(3n+3) {
    margin-bottom: 30px;
  }

  /* line 282, ../sass/_standard.scss */
  .page #content ul li img + p {
    margin: -10px 0 0 0;
    line-height: 16px;
  }

  /* line 288, ../sass/_standard.scss */
  #content p:first-child {
    margin: 0 0 44px 0;
  }

  /* line 292, ../sass/_standard.scss */
  #portfolio strong, #resume strong {
    border: 1px solid black;
  }

  /* line 297, ../sass/_standard.scss */
  #portfolio ul + h2 {
    margin: 44px 0 0 0;
  }

  /* line 301, ../sass/_standard.scss */
  #portfolio #content ul li ul.columnBlock li {
    width: 222px;
    float: left;
    margin: 22px 30px 44px 0;
  }

  /* line 307, ../sass/_standard.scss */
  #portfolio #content ul li ul.columnBlock li:nth-child(3n+3) {
    margin-right: 0;
  }

  /* line 311, ../sass/_standard.scss */
  #resume #content h2 + ul li {
    margin: 0 0 0 16px;
  }

  /* line 315, ../sass/_standard.scss */
  .columnBlock + h2 {
    margin: 22px 0 22px 0;
  }

  /* line 318, ../sass/_standard.scss */
  #resume h3 {
    margin: 0 0 0 0;
    line-height: 22px;
  }

  /* line 323, ../sass/_standard.scss */
  #resume h3 + p {
    margin: 0px 0 0 0;
  }

  /* line 327, ../sass/_standard.scss */
  #resume h4 {
    margin: 22px 0 22px 0;
    clear: both;
  }

  /* line 332, ../sass/_standard.scss */
  #resume #content .columnBlock h4 + ul + li {
    background-color: red;
  }

  /* line 337, ../sass/_standard.scss */
  #resume #content ul.columnBlock li {
    width: 306px;
    float: left;
    margin: 0 114px 22px 16px;
  }

  /* line 343, ../sass/_standard.scss */
  #resume #content ul.columnBlock li:nth-child(2n+2) {
    margin-right: 0;
  }

  /* line 348, ../sass/_standard.scss */
  #theLab #content {
    width: 612px;
    margin: 0 0 0 30px;
  }

  /* line 353, ../sass/_standard.scss */
  .page #nav {
    float: left;
    left: 0;
    right: 0;
    top: 0;
    width: 138px;
    clear: none;
    position: relative;
    text-align: left;
  }

  /*      background-color:red;       */
  /* line 366, ../sass/_standard.scss */
  #nav a {
    padding: 0 5px 0 0px;
    text-align: left;
  }

  /* line 372, ../sass/_standard.scss */
  #nav ul li.mainNav, #nav ul li.mainNav a {
    text-align: left;
    /* 	margin: 0 0 22px 0;   figure this out later*/
  }

  /* line 376, ../sass/_standard.scss */
  #nav ul.subNav li, #nav ul.subNav li a {
    margin: 0 0 0 10px;
    color: red;
    text-align: left;
  }
}
