/* line 17, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 

####################################################### 
################# Start of my CSS #####################
####################################################### 

*/
/* line 16, ../sass/_base.scss */
#page {
  width: 100%;
}

/* line 20, ../sass/_base.scss */
#content {
  margin: 0px auto;
}

/* line 24, ../sass/_base.scss */
#header {
  text-align: center;
}

/* line 29, ../sass/_base.scss */
img {
  max-width: 100%;
}

/* line 31, ../sass/_base.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 36, ../sass/_base.scss */
.accessibility, .hideForm {
  display: none;
}

/* line 40, ../sass/_base.scss */
.clear {
  clear: both;
}

/* line 11, ../sass/screen.scss */
html {
  /* initial grid system: line-height:18 font-size: 14 */
  font-family: "Spinnaker", sans-serif;
  padding: 15px;
  font-size: 14px;
}

/* 

###############  Start of Mobile CSS ################## 

*/
/* line 1, ../sass/_mobile.scss */
#header h1, h3 {
  font-family: "Covered By Your Grace", serif;
}

/* line 5, ../sass/_mobile.scss */
#header h1 {
  font-size: 42px;
  line-height: 38px;
  padding: 10px;
}

/* line 11, ../sass/_mobile.scss */
#header p {
  font-size: 12px;
  margin: 0 0 20px 0;
}

/* line 16, ../sass/_mobile.scss */
h2 {
  font-family: "Spinnaker", sans-serif;
  font-size: 18pt;
  font-weight: bold;
  margin: 20px 0 20px 0;
}

/* line 24, ../sass/_mobile.scss */
.subheading, .gallery h2 {
  font-family: "Spinnaker", sans-serif;
  font-size: 14px;
  margin: 3px 0 0 10px;
}

/* line 31, ../sass/_mobile.scss */
div > h3 {
  /* spacing for mobile*/
  padding: 20px 0;
}

/* line 36, ../sass/_mobile.scss */
#photo h3 {
  font-size: 32px;
  line-height: 28px;
}

/* line 42, ../sass/_mobile.scss */
h4 {
  font-size: 18px;
  margin: 25px 0 10px 0;
}

/* line 47, ../sass/_mobile.scss */
h5 {
  font-weight: bold;
  margin: 5px 0;
}

/* line 52, ../sass/_mobile.scss */
p {
  margin: 5px 0 10px 0;
}

/* line 57, ../sass/_mobile.scss */
.headingblock {
  display: block;
  float: left;
  /* to be able to nudge subheadings into place */
  cursor: pointer;
}

/* line 64, ../sass/_mobile.scss */
.showtitle {
  font-size: 12px;
  margin: 15px 0 10px 0;
}

/* line 69, ../sass/_mobile.scss */
.showtitle strong, .gallery h1, .gallery h2 strong {
  font-family: "PT Serif", serif;
  font-size: 16px;
  margin: 0 5px 0 0;
  font-style: italic;
  font-weight: bold;
}

/* line 78, ../sass/_mobile.scss */
.hideMobile {
  display: none;
}

/* 

###############  Start of Minimum 600px ################## 

*/
/* Basic Media Query for Screens wider than 600 pixels (tablets and up) */
@media screen and (min-width: 600px) {
  /* line 5, ../sass/_min600.scss */
  #camera {
    padding: 0 0 0 10px;
    float: right;
    display: block;
  }

  /* line 11, ../sass/_min600.scss */
  div#page {
    /*Copy code from grid.css when done experimenting.*/
  }

  /*Page Divisions*/
  /*
    Helpful hint:
    While working to position page divisions into regions,
    use the rgba(); color syntax to keep the grid images
    visible, e.g.,

	div#header { background-color: rgba(255,0,0,.2) }   

    The forth/alpha value ranges from 0 (completely transparent)
    to 1.0 (completely opaque).
  */
  /*Close curly-brace from media query:*/
}
