/* line 17, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../RailsInstaller/Ruby1.8.7/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 

####################################################### 
################# Start of my CSS #####################
####################################################### 

*/
/* line 16, ../sass/_base.scss */
#page {
  width: 100%;
}

/* line 20, ../sass/_base.scss */
#content {
  margin: 0px auto;
}

/* line 25, ../sass/_base.scss */
img {
  max-width: 100%;
}

/* line 27, ../sass/_base.scss */
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

/* line 33, ../sass/_base.scss */
.accessibility, .hideForm {
  display: none;
}

/* line 37, ../sass/_base.scss */
.clear {
  clear: both;
}

/* line 41, ../sass/_base.scss */
.hidden {
  display: none;
}

/* Seeking Nature */
/* Gallery Window*/
/* Parapluie*/
/* line 39, ../sass/screen.scss */
html {
  /* initial grid system: line-height:18 font-size: 14 */
  font-family: "Spinnaker", "Century Gothic", "Tahoma", "Verdana", sans-serif;
  padding: 15px;
  font-size: 16px;
  background-color: #ede059;
  color: #0c2538;
}

/* 

###############  Start of Mobile CSS ################## 

*/
/* MAIN DIV ELEMENTS */
/* line 3, ../sass/_mobile.scss */
#page, #homePage {
  background-color: #638270;
  padding: 20px;
}

/* line 8, ../sass/_mobile.scss */
#header, #footer, #homePage h2, .navContainer {
  text-align: center;
  padding: 5px 0;
  margin-bottom: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2b434f), color-stop(100%, #0c2538));
  background-image: -webkit-linear-gradient(top, #2b434f, #0c2538);
  background-image: -moz-linear-gradient(top, #2b434f, #0c2538);
  background-image: -o-linear-gradient(top, #2b434f, #0c2538);
  background-image: -ms-linear-gradient(top, #2b434f, #0c2538);
  background-image: linear-gradient(top, #2b434f, #0c2538);
}

/* line 19, ../sass/_mobile.scss */
.showtitle strong, .gallery h1, .gallery h2 strong {
  font-family: "PT Serif", "Palatino Linotype", "Georgia", serif;
  font-size: 20px;
  margin: 0 5px 0 0;
  font-style: italic;
}

/* line 28, ../sass/_mobile.scss */
#header h1, #homePage h3 {
  font-family: "Covered By Your Grace", "Impact", "Copperplate Gothic Light", serif;
}

/* line 33, ../sass/_mobile.scss */
#header p, #footer {
  color: #638270;
}

/* line 37, ../sass/_mobile.scss */
#homePage h2 {
  color: #bcc98e;
}

/* line 41, ../sass/_mobile.scss */
#header h1 {
  font-size: 44px;
  line-height: 36px;
  padding: 10px;
}

/* line 47, ../sass/_mobile.scss */
#header a, #homePage h3, #homePage h3 a {
  color: #ede059;
}

/* line 51, ../sass/_mobile.scss */
#homePage h3 .subheading, #homePage h3 .subheading a {
  color: #2b434f;
}

/* line 56, ../sass/_mobile.scss */
#header p {
  font-size: 12px;
  margin: 0 0 10px 0;
}

/* line 61, ../sass/_mobile.scss */
#footer {
  margin: 35px 0 0 0;
}

/* MAIN HTML ELEMENTS */
/* line 67, ../sass/_mobile.scss */
h2 {
  font-family: "Spinnaker", "Century Gothic", "Tahoma", "Verdana", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0 20px 0;
}

/* line 75, ../sass/_mobile.scss */
h3 {
  font-family: "PT Serif", "Palatino Linotype", "Georgia", serif;
  font-size: 20px;
  line-height: 28px;
  font-style: italic;
}

/* line 82, ../sass/_mobile.scss */
h5 {
  font-weight: bold;
  margin: 5px 0;
}

/* line 87, ../sass/_mobile.scss */
p {
  margin: 10px 0 10px 0;
}

/* line 91, ../sass/_mobile.scss */
li p {
  margin: 40px 0 10px 0;
}

/* SPECIAL HANDLERS */
/* HOME PAGE */
/* line 100, ../sass/_mobile.scss */
#homePage h3 {
  clear: both;
  padding: 10px 0;
  cursor: pointer;
  margin: 10px 0;
  font-style: normal;
}

/* line 108, ../sass/_mobile.scss */
.headingblock {
  display: block;
  float: left;
  /* to be able to nudge subheadings into place */
  cursor: pointer;
  font-family: "Covered By Your Grace", "Impact", "Copperplate Gothic Light", serif;
  font-size: 30px;
}

/* line 116, ../sass/_mobile.scss */
.subheading {
  font-family: "Spinnaker", "Century Gothic", "Tahoma", "Verdana", sans-serif;
  font-size: 16px;
  margin: 3px 0 0 10px;
}

/* line 122, ../sass/_mobile.scss */
#homePage h4 {
  font-size: 18px;
  margin: 20px 0 10px 0;
}

/* PHOTO GALLERIES */
/* line 130, ../sass/_mobile.scss */
#photo h4:first-child {
  margin-top: 40px;
}

/* line 134, ../sass/_mobile.scss */
.gallery p strong {
  font-family: "PT Serif", "Palatino Linotype", "Georgia", serif;
  font-style: italic;
  font-weight: bold;
}

/* line 140, ../sass/_mobile.scss */
.gallery img {
  margin: 10px 0;
}

/* line 144, ../sass/_mobile.scss */
.showtitle {
  font-size: 12px;
  margin: 15px 0 10px 0;
}

/* RESUME */
/* line 151, ../sass/_mobile.scss */
.resume h4 {
  margin: 0 0 15px 0;
}

/* line 155, ../sass/_mobile.scss */
.resume ul li {
  list-style-type: disc;
  margin: 0 10px 10px 30px;
}

/* line 160, ../sass/_mobile.scss */
.resume p {
  margin: 5px 15px;
}

/* line 164, ../sass/_mobile.scss */
.resume h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 15px;
}

/* line 170, ../sass/_mobile.scss */
.resume strong {
  background-color: #bcc98e;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  padding: 0 10px;
}

/* line 176, ../sass/_mobile.scss */
.resume #content ul li {
  list-style-type: disc;
  margin: 0 10px 10px 30px;
}

/* NAVIGATION  -- from http://www.visibilityinherit.com/code/center-nav.php 
                   with some tweaks
*/
/* line 186, ../sass/_mobile.scss */
/* line 187, ../sass/_mobile.scss */
#nav {
  /* IE6 needs this */
  position: relative;
  right: -5%;
  /* this gives better centering results, but check in IE*/
}

/* line 191, ../sass/_mobile.scss */
/* line 194, ../sass/_mobile.scss */
#nav ul {
  list-style: none;
}

/* line 202, ../sass/_mobile.scss */
/* line 196, ../sass/_mobile.scss */
/* line 200, ../sass/_mobile.scss */
#nav a {
  width: 80px;
  /* lines up better in mobile*/
  float: left;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  /* variable width */
}

/* MISC */
/* line 211, ../sass/_mobile.scss */
.hideMobile {
  display: none;
}

/* 

###############  Start of Minimum 400px ################## 

*/
/* Basic Media Query for Screens wider than 600 pixels (tablets and up) */
@media screen and (min-width: 400px) {
  /* line 5, ../sass/_min400.scss */
  #page, #homePage, #ContactForm, .col {
    width: 400px;
    margin: 0 auto;
    text-align: left;
  }
}
