/* Basic Media Query for Screens wider than 1000 pixels */
/* line 3, ../sass/standard.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/standard.scss */
.t22 {
  line-height: 22px;
  font-size: 14px;
  background-image: url("img/22px-baseline.png");
}

/* line 11, ../sass/standard.scss */
body {
  /*  .t22 from above  */
  line-height: 22px;
  font-size: 14px;
}

/* line 15, ../sass/standard.scss */
.g960 #page {
  width: 940px;
  /*Total width works out to 960*/
  padding: 0px 10px 0px 10px;
  background-image: url("img/960px-10-60-10-unit.png");
}

/* See http://978.gs/ */
/* line 21, ../sass/standard.scss */
.g978 .page {
  /* width: 978px; Total with works out to 1008*/
  width: 978px;
  padding: 0px 15px 0px 15px;
  background-image: url("img/978px-15-54-15-unit.png");
  margin: 0 auto;
}

/* line 29, ../sass/standard.scss */
#header {
  background-color: aqua;
  opacity: 0.4;
  width: 100%;
  float: left;
  margin: 0 0 22px 0;
  padding: 20px 0;
}

/* line 37, ../sass/standard.scss */
#header h1 {
  display: block;
  font-size: 72px;
  float: left;
  margin: 0 0 0 124px;
}

/* line 44, ../sass/standard.scss */
#header p {
  display: block;
  font-size: 14px;
  float: left;
  margin: 22px 0 0 25px;
}

/* line 51, ../sass/standard.scss */
p {
  line-height: 22px;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* line 58, ../sass/standard.scss */
#homePage #photo, #library {
  width: 978px;
  margin: 22px 0 0 0;
  background-color: red;
  opacity: .5;
}

/* line 64, ../sass/standard.scss */
#homePage #photo img, #homePage #library img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 0;
  margin: 0 0 0 0;
}

/* line 73, ../sass/standard.scss */
#homePage #photo h2 {
  float: left;
  text-align: left;
  clear: none;
  margin: 0 0 0 106px;
}

/* line 80, ../sass/standard.scss */
#homePage #photo h2 + p {
  width: 474px;
  float: left;
  margin: 44px 0 0 -160px;
  color: yellow;
}

/* line 87, ../sass/standard.scss */
.hideMobile {
  display: block;
}

/* line 91, ../sass/standard.scss */
.hideDesktop {
  display: none;
}

/* line 97, ../sass/standard.scss */
#art h2 + img {
  float: left;
  margin: 0 20px 0 0;
}

/* line 102, ../sass/standard.scss */
h2, h3 {
  clear: both;
}

/* line 105, ../sass/standard.scss */
.page h2 {
  font-size: 24px;
  clear: both;
  margin: -2px 0 22px 0;
}

/* line 111, ../sass/standard.scss */
.gallery ul + h2 {
  margin: 100px 0 22px 0;
}

/* line 116, ../sass/standard.scss */
.gallery h3 {
  margin: 18px 0 0 0;
}

/* line 120, ../sass/standard.scss */
.gallery ul + h3 {
  margin: 282px 0 0 0;
}

/* line 124, ../sass/standard.scss */
.gallery h3 + h4 {
  margin: -2px 0 0 0;
}

/* line 128, ../sass/standard.scss */
.gallery #content ul {
  margin: 34px 0 0 0;
}

/* line 132, ../sass/standard.scss */
.gallery #content h3 + ul {
  margin: 32px 0 0 0;
}

/* line 136, ../sass/standard.scss */
.gallery #content ul li, #content ul.gallery li {
  width: 214px;
  /* 306 width with 4px border on each side*/
  float: left;
  margin: 0 38px 0 0;
}

/* line 142, ../sass/standard.scss */
.gallery #content ul li:nth-child(3n+3), #content ul.gallery li:nth-child(3n+3) {
  margin-right: 0;
  margin-bottom: 88px;
}

/* line 147, ../sass/standard.scss */
#travel ul li:nth-child(3n+3) {
  margin-bottom: 30px;
}

/* line 152, ../sass/standard.scss */
.page #content ul li img + p {
  margin: -10px 0 0 0;
  line-height: 16px;
}

/* line 158, ../sass/standard.scss */
#content p:first-child {
  margin: 0 0 44px 0;
}

/* line 162, ../sass/standard.scss */
#portfolio strong, #resume strong {
  border: 1px solid black;
}

/* line 167, ../sass/standard.scss */
#portfolio ul + h2 {
  margin: 44px 0 0 0;
}

/* line 171, ../sass/standard.scss */
#portfolio #content ul li ul.columnBlock li {
  width: 222px;
  float: left;
  margin: 22px 30px 44px 0;
}

/* line 177, ../sass/standard.scss */
#portfolio #content ul li ul.columnBlock li:nth-child(3n+3) {
  margin-right: 0;
}

/* line 181, ../sass/standard.scss */
#resume #content h2 + ul li {
  margin: 0 0 0 16px;
}

/* line 185, ../sass/standard.scss */
.columnBlock + h2 {
  margin: 22px 0 22px 0;
}

/* line 188, ../sass/standard.scss */
#resume h3 {
  margin: 0 0 0 0;
  line-height: 22px;
}

/* line 193, ../sass/standard.scss */
#resume h3 + p {
  margin: 0px 0 0 0;
}

/* line 197, ../sass/standard.scss */
#resume h4 {
  margin: 22px 0 22px 0;
  clear: both;
}

/* line 202, ../sass/standard.scss */
#resume #content .columnBlock h4 + ul + li {
  background-color: red;
}

/* line 207, ../sass/standard.scss */
#resume #content ul.columnBlock li {
  width: 306px;
  float: left;
  margin: 0 114px 22px 16px;
}

/* line 213, ../sass/standard.scss */
#resume #content ul.columnBlock li:nth-child(2n+2) {
  margin-right: 0;
}

/* line 218, ../sass/standard.scss */
#theLab #content {
  width: 612px;
  margin: 0 0 0 30px;
}

/* line 223, ../sass/standard.scss */
.page #nav {
  float: left;
  left: 0;
  right: 0;
  top: 0;
  width: 138px;
  clear: none;
  position: relative;
  text-align: left;
}

/*      background-color:red;       */
/* line 236, ../sass/standard.scss */
#nav a {
  padding: 0 5px 0 0px;
  text-align: left;
}

/* line 242, ../sass/standard.scss */
#nav ul li.mainNav, #nav ul li.mainNav a {
  text-align: left;
  /* 	margin: 0 0 22px 0;   figure this out later*/
}

/* line 246, ../sass/standard.scss */
#nav ul.subNav li, #nav ul.subNav li a {
  margin: 0 0 0 10px;
  color: red;
  text-align: left;
}
